.company-info {
	$this: &;

	margin-top: 32px;

	&.is-open {

		#{$this}__header-button {
			transform: rotate(0);
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px 16px;
		position: relative;
	}

	&__header-logo {
		width: 90px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__header-image {
		display: block;
		max-height: 24px;
		max-width: 90px;
		width: auto;
	}

	&__header-headline {
		font-size: 16px;
		font-weight: 700;
		color: #606060;
		margin-right: auto;
		margin-left: 8px;
	}

	&__header-button {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		right: 0;
		width: 72px;
		height: 72px;
		transform: rotate(180deg);
		transition: transform .500s ease;
	}

	&__button-icon {
		width: 12px;
		height: 12px;
		color: #828282;
	}

	&__content {
		padding-top: 16px;
		padding-left: 16px;
		padding-right: 16px;
		padding-bottom: 25px;
		border-top: 1px solid #D8D8D8;
	}

	&__group {
		display: flex;
		align-items: center;

		& + #{$this}__group {
			margin-top: 16px;
		}

		&--votes {
			color: #606060;
			flex-wrap: wrap;
			justify-content: flex-end;
		}

		&--empty {

			#{$this}__group-icon {
				align-self: center;
			}

			#{$this}__group-data {
				font-size: 18px;
				line-height: 25px;
				display: block;
			}
		}
	}

	&__group-icon {
		align-self: flex-start;
		width: 20px;
		height: 20px;
		flex-shrink: 0;
		margin-right: 12px;
		color: #a8a2a2;

		&--rating {
			color: #f6ae21;
		}

		&--empty {
			color: #3F51B4;
		}
	}

	&__group-data {
		color: #606060;
		display: flex;
		width: 100%;

		&--person {
			flex-direction: column;
			line-height: 22px;
		}

		&--questionnaire {
			margin-top: 10px;
		}
	}

	&__group-amount {
		margin-right: 5px;
	}

	&__group-data-link {
		font-weight: 700;
		color: #7388ff;
		margin-left: auto;
	}

	&__group-progress {
		margin-top: 8px;
	}

	&__group-link {
		word-break: break-word;
		color: #7388ff;

		&:hover {
			text-decoration: underline;
		}
	}

	&__votes-score {
		font-size: 16px;
	}

	&__votes-amount {
		font-size: 14px;
		margin-left: 13px;
	}

	&__rating {
		margin-left: auto;
	}

	&--offices {
		margin-top: 40px;

		#{$this}__header-headline {
			font-size: 18px;
			color: #2B2B2B;
			line-height: 27px;
			margin-left: 0;
		}
	}
}