.company-extended {
	$this: &;

	&__headline {
		font-size: 16px;
		line-height: 24px;
		color: #606060;

		&--about {
			margin-top: 16px;
		}

		&--internet {
			margin-top: 24px;
		}
	}

	&__text {
		line-height: 24px;
		color: #606060;
		margin-top: 16px;

		p {
			display: inline;
		}
	}

	&__button {
		font-size: 16px;
		color: #888888;
	}

	&__internet-list {
		font-size: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-left: -7px;
		margin-right: -7px;
		margin-top: 7px;

		@include for-laptop-up {
			margin-left: -8px;
			margin-right: -8px;
			margin-top: 8px;
		}

	}

	&__internet-item {
		margin-left: 7px;
		margin-right: 7px;

		@include for-laptop-up {
			margin-left: 8px;
			margin-right: 8px;
		}

		&:nth-child(7) ~ #{$this}__internet-item {
			margin-top: 7px;

			@include for-laptop-up {
				margin-top: 8px;
			}
		}
 	}

	&__site {
		margin-top: 18px;
	}

	&__internet-icon {
		width: 24px;
		height: 24px;
		color: #000000;

		&--facebook {
			color: #3B5998;
		}
	}
}