.gallery {
	$_this: &;

	display: flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: space-between;

	&__item {
		width: 46px;
		height: 46px;
		border-radius: 8px;

		#{$_this}__image {
			border-radius: 8px;
			width: 46px;
			height: 46px;
		}

		&--large {
			width: 100%;
			height: auto;
			margin-top: 16px;

			#{$_this}__image {
				width: 100%;
				height: auto;
				border-radius: 4px;
			}
		}
	}

	&__image {
		display: block;
	}
}