.offices {
	$this: &;

	&__content {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
	}

	&__header {

		@include for-laptop-up {
			padding-left: 26px;
			padding-right: 26px;
		}
	}

	&__list {
		padding-left: 16px;
		padding-right: 16px;

		@include for-laptop-up {
			display: grid;
			gap: 16px 55px;
			grid-template-columns: repeat(auto-fit, minmax(306px, 1fr));
			padding-left: 26px;
			padding-right: 26px;
		}

		@include for-desktop-up {
			column-gap: 46px;
			grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
		}
	}

	&__list-item {

		& + #{$this}__list-item {
			margin-top: 16px;

			@include for-laptop-up {
				margin-top: 0;
			}
		}
	}

	&__link-outer {
		display: flex;
		flex-wrap: wrap;
	}

	&__link {
		font-size: 16px;
		font-weight: 700;
		color: #7388ff;
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		white-space: nowrap;
		margin-right: 16px;

		&:hover {

			#{$this}__link-text {
				text-decoration: underline;
			}
		}
	}

	&__link-icon {
		width: 22px;
		height: 18px;
		margin-left: 4px;
	}

	&__address {
		font-size: 16px;
		line-height: 24px;
		color: #606060;
		margin-left: 16px;
		margin-top: 8px;
	}

	&__address-item {
		position: relative;

		& + #{$this}__address-item {
			margin-top: 8px;
		}

		&:before {
			content: ' ';
			position: absolute;
			top: 7px;
			left: -16px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: #dadada;
		}
	}

	&__address-item-link {
		color: #7388ff;
	}

	&__button {
		font-size: 16px;
		font-weight: 700;
		color: #7388FF;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		border-top: 1px solid #d8d8d8;
		height: 70px;
		margin-top: 24px;
		cursor: pointer;

		@include for-laptop-up {
			width: calc(100% - 80px);
			margin-left: auto;
			margin-right: auto;
		}
	}
}