@mixin for-desktop-up-large {
	@media (min-width: 1170px) {
		@content;
	}
}

@mixin for-desktop-up {
	@media (min-width: 992px) {
		@content;
	}
}

@mixin for-laptop-up {
	@media (min-width: 768px) {
		@content;
	}
}

@mixin for-desktop-down {
	@media (max-width: 991px) {
		@content;
	}
}

/*** Styles added to fix the issue with zoom in on iphone ***/
/* device-aspect-ratio: 2/3 - iPhone < 5 */
/* device-aspect-ratio: 40/71 - iPhone 5, 5C, 5S, iPod Touch 5g */
/* device-aspect-ratio: 375/667 - iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
/* device-aspect-ratio: 9/16 - iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@mixin disable-input-zoom {
	@media screen and (device-aspect-ratio: 2/3), screen and (device-aspect-ratio: 40/71), screen and (device-aspect-ratio: 375/667), screen and (device-aspect-ratio: 9/16) {
		@content;
	}
}

@mixin trim($numLines: null) {
	@if $numLines != null {
		display: -webkit-box;
		-webkit-line-clamp: $numLines;
		-webkit-box-orient: vertical;
		overflow: hidden;
	} @else {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		display: block;
	}
}