//typography
$base-font-family: helvetica, Helvetica CY, Arial, Nimbus Sans L, sans-serif;
$base-font-size: 16px;

//colors
$primary-color: #21212b;
$primary-blue: #7388ff;
$header-color: #b0baeb;

// header
$header-height: 64px;
$header-height-desktop: 48px;

//statics
$path-to-static: 'assets/images/';