$base-font-family: 'Dosis', Arial, Helvetica Neue, Helvetica, sans-serif;
$oswald-font-family: 'Oswald', Arial, Helvetica Neue, Helvetica, sans-serif;
$base-font-size: 18px;

// header variables
$header-height: 56px;

//colors
$primary-color: #21212b;
$primary-yellow: #fdcf17;
$primary-blue: #0984ff;

$path-to-static: 'assets/images/';