.custom-btn {
	font-family: $base-font-family;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: -.5px;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	max-width: 256px;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, .16);
	transition: background-color .225s ease;

	&--blue {
		color: #ffffff;
		background-color: $primary-blue;

		&:hover,
		&:active {
			background-color: darken($primary-blue, 5%);
		}
	}
}