.custom-select {
	height: 32px;
	min-width: 68px;
	padding-top: 5px;
	padding-bottom: 7px;
	padding-left: 6px;
	padding-right: 6px;
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid $header-color;
	position: relative;

	&:before,
	&:after {
		content: ' ';
		position: absolute;
		right: 13px;
		top: 7px;
		width: 9px;
		height: 7px;
		background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 7H0l4.5-7L9 7z' fill='%23B0BAEB'/%3E%3C/svg%3E");
	}

	&:after {
		top: auto;
		bottom: 7px;
		background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h9L4.5 7 0 0z' fill='%23B0BAEB'/%3E%3C/svg%3E");
	}

	&__select {
		color: $header-color;
		appearance: none;
	}
}