.company {

	&__wrapper {
		padding-top: 24px;
		padding-bottom: 80px;
		max-width: 1218px;

		@include for-desktop-up {
			padding-top: 32px;
			padding-bottom: 104px;
		}
	}

	&__overlay {

		@include for-laptop-up {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__about {

		@include for-laptop-up {
			flex-basis: 345px;
			align-self: flex-start;

			& + .company-info {
				flex-grow: 1;
				flex-basis: 345px;
				align-self: flex-start;
				margin-top: 0;
				margin-left: 30px;

				.company-info__content {
					padding-top: 24px;
					padding-bottom: 24px;
				}

				.company-info__group-wrapper {
					display: block;
				}

				.company-info__group {
					margin-top: 0;
					margin-bottom: 0;
					flex: 0 1 auto;

					& + .company-info__group {
						margin-top: 16px;
						margin-bottom: 0;
					}

					&:nth-child(even) {
						padding: 0;
					}

					&:nth-child(odd) {
						padding: 0;
					}
				}
			}
		}

		@include for-desktop-up {
			flex-basis: 370px;
		}
	}
}